<%= simple_form_for @book, :html => { :multipart => true} do  |f| %>

  <%= select_tag( :category_id, options_for_select(@categories), :promt => "Seleccione Cateforia", :class=>"form-control") %>
  <%= f.input :title, label: " Titulo del Libro" %>
  <%= f.input :description %>
  <%= f.input :author %>
  <%= f.button :submit %>
<% end %>