<h2>Edit Book</h2>
<%= simple_form_for @book, :html => { :multipart => true} do  |f| %>

  <%= f.select :category_id,  @categories, { include_blank: false },  { :class => "form-control"} %>

  <%= f.input :title, label: " Titulo del Libro" %>
  <%= f.input :description %>
  <%= f.input :author %>
  <%= f.button :submit %>
<% end %>