
 <h2><strong> <%= @book.title %></strong></h2>
 <h3> <%= @book.author %></h3>
 <h3> <%= @book.category.name %></h3>
 <p> <%= @book.description %></p>

<%= link_to "Atraz ", root_path  %>

<% if user_signed_in?  %>
	<% if current_user.id == @book.user_id  %>

		<%= link_to "Editar ", edit_book_path(@book)  %>
		<%= link_to "Borrar  ", book_path(@book), method: :delete, data: { confirm: "Esta seguro de Eliminar?"}  %>
	<% end %>
<% end %>