<!DOCTYPE html>
<html>
<head>
  <title>Mybook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to  "My Book", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Crear Usuario", new_user_registration_path %></li>
        <% if user_signed_in?  %>
       		<li> <%= link_to "Salir", destroy_user_session_path, method: :delete    %></li>
       		
        <% else%>
        	<li> <%= link_to "Ingresar", new_user_session_path    %></li>
        <% end%>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in?  %>
       		<li> <%= link_to "Agregar Libro", new_book_path %></li>
        <% end%>   
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <% Category.all.each do |category| %>
				<li class="<%= 'active' if params[:category] == category.name %>">
					<%= link_to category.name, books_path(category: category.name), class: "link" %>
				</li>
			<% end %>
            
          </ul>
        </li>
      </ul>



    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
	
	 <p class="notice"><%= notice %></p>
	 <p class="alert"><%= alert %></p>

	<%= yield %>

</div>


</body>
</html>
